@import url("https://use.typekit.net/yqa1ddo.css");

body {
  margin: 0;
  font-family: field-gothic-wide, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: field-gothic-wide, sans-serif;
}

